---
layout: default
section_id: portfolio
---

<div class='full' style='background: #333'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2 style='color: #fff;'>Works</h2>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<div class='two spacing'></div>
<div class='spacing'></div>
<div class='mod modMasonryGallery'>
  <div class='gallery-nav'>
    <ul>
      <li class='current'>
        <a data-cat='all' href='#'>All</a>
      </li>
      {% for category in site.portfolio-categories %}
      <li>
        <a data-cat='{{category.name}}' href='#'>{{category.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <ul class='gallery'>
    {% assign sorted_portfolio = site.portfolio | sort: 'date' | reverse %}
    {% for work in sorted_portfolio %}
      <li class='{{work.class}}'>
        <a href='{{work.url}}'>
          <img alt="" src="{{work.hero-image}}" />
          <div class='overlay'>
            <div class='thumb-info'>
              <h3>{{work.title}}</h3>
              <p>{{work.desc}}</p>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
